squadhub.in {
	reverse_proxy web:3000
}

admin.squadhub.in {
	reverse_proxy admin:3001
}

api.squadhub.in {
	reverse_proxy server:4000
}

books.squadhub.in {
	reverse_proxy squadbooks:3000
}

upsquadconnect.com, www.upsquadconnect.com {
	handle /api/* {
		reverse_proxy host.docker.internal:5000
	}

	handle /uploads/* {
		root * /srv/profiles/backend
		file_server
	}

	handle /admin/* {
		root * /srv/profiles/admin/dist
		try_files {path} /admin/index.html
		file_server
	}

	handle {
		root * /srv/profiles/frontend/dist
		try_files {path} /index.html
		file_server
	}
}
